body{
    margin: 0;
}


.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: darkcyan;
}

.box1 {
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;
}

.box2 {
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;

}